td {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: white;
}

#welcome_title {
    color: #4CAF50; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}


#UP{ 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#DOWN{ 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#LEFT{ 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#RIGHT{ 
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}