{% extends 'game/base.html' %}
{% load static %} 
{% load define_action %}
{% block head %}
<title>Game</title>
<script src="{% static 'game/move.js' %}"></script>
{% endblock head %}
{% block content %}
{% csrf_token %}
<h1 id="welcome_title">Game <span id="game_id">{{game_id}}</span></h1>
{% for player in game.players%}
<p>player {{player.userNumber}} : {{player.username}} <span class="affiche_color actual_position" style="background-color : {{player.color}}"></span></p>
{% endfor %}
{% if game.gameState %}
<table id="board">
    {% define_variable as iLine %}
    {% for line in game.gameState %}
        {% define_variable as iColumn %}
        <tr>
            {% for column in line %}
                {% define_color column game.players as color %}
                {% define_class game.players iLine iColumn as class %}
                <td class="{{class}}" style="background-color : {{color}}">
                </td>
                {% next iColumn as iColumn %}
            {% endfor %}
        </tr>
        {% next iLine as iLine %}
    {% endfor %}
</table>
<p id="error_message"></p>
<div id="move_buttons">
    <button id="UP">UP</button>
    <button id="DOWN">DOWN</button>
    <button id="LEFT">LEFT</button>
    <button id="RIGHT">RIGHT</button>
    <!-- ID differents pour pourvoir les reconnaitre dans le JS-->
</div>
{% else %}
<div class="center"><a class="button" href="/game/startGame/{{game_id}}">start Game</a></div>
{% endif %}

{% endblock content %}