{% extends 'game/base.html' %}
{% load static %}
{% block content %}
<h1>Available games to join</h1>
<table>
    {%if not games %}
        <p>there is no game to join</p>
    {% else %}
        <th>game id</th>
        <th>join game</th>
        {% for game in games %}
        <tr>
            <td>
                {{game.id}}
            </td>
            <td>
                <a class=button href="/game/chooseColor/{{game.id}}">join</a>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock content %}