{% extends 'game/base.html' %}
{% load static %}
{% block content %}
<h1>AI</h1>
<table>
    <tr>
        <th>AI id</th>
        <th></th>
    </tr>
    {% for ia in listIA %}
    <tr>
        <td>id : {{ia.id}} EG : {{ia.epsilon_greedy}} LR : {{ia.learning_rate}} gamma : {{ia.gamma}}</td>
        <td><a class=button href="/game/createGameVsAiForm/{{ia.id}}/">play</a></td>
        <td><a class=button href="/game/trainAIForm/{{ia.id}}/">train</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}